@use '/node_modules/bootstrap/scss/bootstrap.scss';

@use './partials/variable.scss' as *;

#main_comics {
    background-color: $bg_dcmain;
    
}
.merchandise{
    background-color: $color_dclogo;
}
#heroes{
    background-image: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
}
.lists{
    color: $bg_dcicon;
}
