@use '/node_modules/bootstrap/scss/bootstrap.scss';

@use './partials/variable.scss' as *;

#main_comics {
    background-color: $bg_dcmain;
    
}
.jumbotron{
    background-image: url(../img/jumbotron.jpg);
    height: 600px;
    background-size: cover;
}
.merchandise{
    background-color: $color_dclogo;
}
.heroes{
    background-image: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.dc-logo-bg{
    height: 700px;
    width: 700px;       
    margin-top: -100px;
}
.lists{
    color: $bg_dcicon;
}